/* --- Globale Styles (für Woche 2) --- */
body {
  
  /* Aufgabe b) Honig-Ton statt Wallpaper, fand das sieht besser aus */
  background-color: #FFFBEF;
 
  /* Aufgabe c) moderne Schrift, in Dunkelgrau & Zeilenabstand */
  font-family: Arial, Helvetica, sans-serif; /* Schrift */
  color: #333333; /* Dunkelgrau */
  line-height: 1.6; /* Zeilenabstand */
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  /* Eigene Schrift für Überschriften */
  font-family: 'Trebuchet MS', sans-serif;
  color: #2c2c2c;
}

/* --- Layout Container, sieht besser aus für UX --- */
/* Inhalt auf maximale Breite beschränken,
   damit der Text breiten Browserfenstern nicht verzieht */
main {
  max-width: 900px; /* Maximale Breite des Main-Inhalt */
  margin: 0 auto; /* Zentriert den Block horizontal */
  padding: 20px; /* Etwas Innenabstand */
}